body{
  margin:0;
  font-family:system-ui;
  background:#000;
  color:#ffe082;
}
header{
  display:flex;
  justify-content:space-between;
  padding:14px 18px;
  background:#111;
  box-shadow:0 0 10px rgba(255,215,0,.3);
}
h1{margin:0;font-size:20px;color:#ffd54f}
#visitorCounter{font-size:14px}

main{
  max-width:600px;
  margin:auto;
  padding:20px;
}

.card{
  background:#111;
  padding:18px;
  border-radius:10px;
  margin-bottom:20px;
  box-shadow:0 0 10px rgba(255,215,0,.25);
}

label{
  margin-top:12px;
  display:block;
}

input{
  width:100%;
  padding:10px;
  border-radius:6px;
  border:1px solid #444;
  background:#000;
  color:#ffe082;
  margin-top:6px;
}

button{
  margin-top:14px;
  padding:10px;
  width:100%;
  border:0;
  border-radius:6px;
  background:#ffd54f;
  color:#000;
  font-weight:700;
  cursor:pointer;
}

#result{
  margin-top:12px;
  word-break:break-all;
  padding:10px;
  background:#000;
  border-radius:6px;
}

#linkList div{
  padding:8px;
  border-bottom:1px solid #333;
}
