body {
    background:black;
    color:gold;
    font-family:Arial, sans-serif;
    margin:0;
    padding:0;
    text-align:center;
}

.container{
    max-width:500px;
    margin:80px auto;
    padding:20px;
    border:2px solid gold;
    border-radius:10px;
    background:#111;
}

input{
    width:90%;
    padding:10px;
    margin:10px 0;
    border:none;
    border-bottom:2px solid gold;
    background:black;
    color:gold;
    font-size:16px;
}

button{
    background:gold;
    color:black;
    padding:10px 20px;
    border:none;
    cursor:pointer;
    margin-top:10px;
}

#top-right{
    position:absolute;
    top:10px;
    right:15px;
    color:gold;
    font-size:14px;
    background:#000;
    padding:5px 8px;
    border:2px solid gold;
    border-radius:5px;
}

#short-result{
    margin-top:15px;
    border:1px solid gold;
    padding:10px;
    display:none;
}

.marquee{
    width:100%;
    position:fixed;
    bottom:0;
    left:0;
    white-space:nowrap;
    overflow:hidden;
    font-style:italic;
    font-size:10px;
    font-family:"Times New Roman", serif;
    color:gold;
}

.marquee span{
    display:inline-block;
    padding-left:100%;
    animation: scroll 30s linear infinite;
}

@keyframes scroll{
    0%{transform:translateX(0);}
    100%{transform:translateX(-100%);}
}

a{
    color:gold;
    text-decoration:none;
}

a:hover{
    text-decoration:underline;
}

@keyframes kenscroll {

  0% { transform: translateX(100%); }

  100% { transform: translateX(-100%); }

}
